API_URL=https://b2b.itresume.ru/api/statistics
API_CLIENT=Skillfactory
API_CLIENT_KEY=M2MGWS

DB_HOST=localhost
DB_PORT=5432
DB_NAME=grader
DB_USER=postgres
DB_PASSWORD=postgres
TABLE_NAME=attempts

LOG_DIR=logs
LOG_RETENTION_DAYS=3

SMTP_SERVER=smtp.mail.ru
SMTP_PORT=465
SENDER_EMAIL=your_email@mail.ru
SENDER_PASSWORD=your_app_password
RECIPIENT_EMAIL=recipient@example.com

GOOGLE_CREDENTIALS_FILE=credentials.json
SPREADSHEET_NAME=Grader Daily Report
